
.my-container {
  margin: 1rem;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  justify-content: space-between;
  /* Border width and color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
}

.my-title {
  margin-bottom: 0;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #ff6600; /* Change this to your desired color */
  text-shadow: 2px 2px 4px rgba(0, 0, 1, .7); /* Text shadow for the title */
}

.my-button {
  flex-shrink: 0;
  margin-left: 3rem; /* Minimum gap */
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

@media (min-width: 576px) {
  .my-button {
    margin-left: 300px; /* Minimum gap on larger screens */
  }
}

@media (min-width: 768px) {
  .my-button {
    margin-left: 350px; /* Adjust gap on larger screens */
  }
}

@media (min-width: 992px) {
  .my-button {
    margin-left: 400px; /* Maximum gap on larger screens */
  }
}

.my-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffa500; /* Change to a lighter shade of yellow on hover */
  color: white; /* Change the text color on hover */
}


.table-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.1);
    border: solid black;
    border-radius: 10px;
  }
  
  .table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .table th {
    background-color: #f8f9fa;
  }
  
  .table tbody tr {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .table tbody tr:hover {
    background-color: #f0f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .btn-link {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  .dark-mode-headers th {
    color: #ffffff;
    background-color: white; /* Bootstrap dark background */
  }
  